* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

/* common */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section-title {
  margin-top: 12px;
  color: #212832;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.section-desc {
  margin-top: 20px;
  color: #696d76;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.section__sub-title {
  display: flex;
  align-items: center;
  color: #696d77;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.section__sub-title::before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 2px;
  background: #696d77;
  margin-right: 12px;
}

.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  border: none;
  border-radius: 0.8rem;
  padding: 12px 28px;
  background: #212832;
}

.container {
  width: 1170px;
  max-width: calc((100% - 60px));
  margin: 0 auto;
}

/* header */

.header {
  padding: 42px 0 0;
}

.nav__list {
  display: flex;
  margin-left: 70px;
}

.nav-item {
  position: relative;
}

.nav-item + .nav-item {
  margin-left: 47px;
}

.nav-item:hover .nav__link {
  color: #212832;
  text-shadow: 1px 0 0 currentColor;
}

.nav-item--active .nav__link {
  font-weight: 600;
  color: #212832;
}

.nav-item--active::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: #7264d6;
  bottom: 0;
}

.nav__link {
  color: #696d76;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.header-action {
  margin-left: auto;
}

.header-action__link {
  color: #212832;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.header-action__link:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.header-action__btn {
  margin-left: 28px;
}

.header-action__btn:hover {
  opacity: 0.7;
}

.img {
  width: 100%;
}

.hero,
.work,
.card,
.transfer {
  padding: 80px 0;
}

.header__inner,
.hero__inner,
.work__inner,
.card__inner,
.transfer__inner {
  display: flex;
  align-items: center;
}

.work__media,
.card__content,
.transfer__content {
  width: 40%;
}

.work__content,
.card__media,
.transfer__media {
  width: 60%;
}

/* hero */

.hero__content {
  width: 47%;
}

.hero__media {
  width: 53%;
}

.hero__media {
  margin-left: 60px;
}

.hero__title {
  color: #212832;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.16; /* 116.667% */
}

.hero__title span {
  color: #7264d6;
}

.hero__desc {
  margin-top: 20px;
}

.hero__row {
  margin-top: 40px;
  position: relative;
}

.hero__input {
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  padding: 23px;
  width: 100%;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__btn {
  position: absolute;
  top: 11px;
  right: 11px;
  background: #7264d6;
  font-weight: 400;
}

.hero__note {
  color: #696d76;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71; /* 171.429% */
  margin-top: 20px;
}

/* work */

.work__content,
.card__media {
  padding-left: 130px;
}

.work-list {
  margin-top: 70px;
}

.work-list__title {
  color: #212832;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.45; /* 145.455% */
}

.work-list__title ~ .work-list__title {
  margin-top: 30px;
}

.work-list__desc {
  margin-top: 16px;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

/* card */
.card__list,
.transfer__list {
  margin-top: 28px;
}

.card__item,
.transfer__item {
  display: flex;
  align-items: center;
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.item--dot::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #7264d6;
  margin-right: 12px;
}

.card__btn {
  margin-top: 38px;
  padding: 15px 30px;
}

/* transfer */

.transfer__media {
  padding-right: 130px;
}

/* feedback */

.feedback {
  padding: 80px 0;
}

.feedback__inner {
  text-align: center;
}

.feedback__sub-title {
  justify-content: center;
}

.feedback__desc {
  width: 450px;
  margin: 0 auto;
}

.feedback__list {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  margin-top: 70px;
}

.feedback__comment {
  padding: 42px 28px;
  background: white;
  filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.feedback__comment p {
  color: #696d76;
  text-align: center;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.55; /* 154.545% */
}

.feedback__user-img-bg {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background: #4ab5e3;
  margin: 103px auto 0;
}

.feedback__list .feedback__item:nth-child(2) .feedback__user-img-bg {
  background: #439f90;
}

.feedback__user-img {
  width: 100%;
  border-radius: 50%;
}

.feedback__user-name {
  margin-top: 20px;
  color: #070052;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}

.feedback__user-job {
  margin-top: 2px;
  color: #696d76;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.feedback__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.feedback__tab {
  margin-top: 38px;
  width: 22px;
  height: 6px;
  /* background: transparent; */
  border: 1px solid #9b9fab;
}

.feedback__tab--active {
  background: #7264d6;
}

/* update */

.update {
  padding: 80px 0;
}
.update-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.update__title {
  margin-top: 6px;
}

.update__desc {
  width: 435px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.update__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.update-item {
  padding: 28px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.update-item__img {
  width: 160px;
  height: 160px;
}

.update-item__content {
  margin-left: 22px;
}

.update-item__time {
  color: #696d76;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
}

.update-item__title {
  margin-top: 10px;
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.update-item__read {
  margin-top: 20px;
  display: inline-block;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
}

.update-item__read:visited {
  color: #7264d6;
}

/* download */

.download {
  padding: 80px 0;
}

.download__inner {
  padding: 100px 0;
  border-radius: 2.4rem;
  background: #7264d6;
  text-align: center;
}

.download__sub-title {
  color: white;
  justify-content: center;
}

.download__sub-title::before {
  background: white;
}

.download__title {
  color: white;
}

.download__desc {
  margin-top: 18px;
  color: white;
}

.download__action {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}

.download__btn {
  display: inline-block;
  padding: 18px 32px;
  background: white;
  width: 182px;
  height: 64px;
  border-radius: 4px;
}

.download__icon {
  width: 100%;
}

/* footer */

.footer__row {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
}

.footer__title ~ .footer__title {
  margin-top: 48px;
}

.footer__list,
.footer__address,
.footer__action {
  margin-top: 24px;
}

.footer__img {
}

.footer__title {
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.footer__link,
.footer__address {
  color: #6a6e78;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.footer__item {
  margin-top: 10px;
}

.footer__address {
  width: 370px;
}

.footer__action {
  display: flex;
}

.footer__btn {
  margin-left: 20px;
  background: #7264d6;
}

.footer__input {
  flex: 1;
  padding: 12px;
  border-radius: 0.6rem;
  border: 1px solid #8e919a;
  outline: none;
  color: #8e919a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.footer__input::placeholder {
  opacity: 0.7;
}

.footer__contact {
  margin-top: 54px;
  display: flex;
  column-gap: 100px;
}

.footer__email,
.footer__phone {
  color: #6a6e78;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  text-decoration-line: underline;
}

.footer__copyright {
  padding: 28px 0;
  margin-top: 28px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  background: #7264d6;
}
